*target
*.cache
*.classpath
*.project
*.settings
*.idea
*.idea_modules
*.tmpBin
/logs
/conf/evolutions
/bin/
/sbt
/archer/sbt
/archer/sbt.bat
*.sbtserver*
/conf/generated.keystore
bin
.cache-tests
.cache-main
/.ensime
/.ensime_cache
/enuma-security/app/slickSource/*
/blog.iml